@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* html, body, #root {
  height: 100%;
} */

/* .hero-bg {
  background: linear-gradient(180deg, #111111 0%, #0a0a0a 100%);
  background-attachment: fixed;
} */

#scrollTopButton {
  /* position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #ff3e00;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  cursor: pointer; */
  opacity: 0;
  transition: opacity 0.3s;
}
#scrollTopButton.show {
  opacity: 1;
}
